{% extends 'bookinginfo/base.html' %}

{% block title %}
    About
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
    <h2>About</h2>
    <p>The Bus Enrollment system is a web application that is meant to transform how you approach public transport.In its pilot stage the application allows to users to enroll for a
        bus service/s to transit from onr place to another.Later we are going to add reservation as well as time schedules so that to users can get to know accurate information about the bus schedule and plan ahead by booking the tickets.
    </p>
    </div>
  </div>
{% endblock %}
