{% extends 'bookinginfo/base.html' %}

{% block title %}
    Bus - {{ bus }}
{% endblock %}

{% block content %}
    <h2>{{ bus }}</h2>

     <section>
     <table>
            <tr>
                <th>Bus Number:</th>
                <td>{{ bus_number }}</td>
            </tr>
            <tr>
                <th>Bus Name:</th>
                <td>{{ bus_name }}</td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Services</h3>
        <ul>
            {% for service in service_list %}
                <li>
                    <a href="">{{ service }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no services scheduled for this bus.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
