{% extends 'bookinginfo/base.html' %}

{% block title %}
    Bus - {{ bus }}
{% endblock %}

{% block content %}
    <h2>{{ bus }}</h2>


    <ul class="ezu-button-list">
     <li>
          <a href = "{{ busname.get_update_url }}" class="button button-primary">Update Bus Detail</a>
      </li>
     <li>
          <a href = "{{ busname.get_delete_url }}" class="button button-primary">Delete Bus</a>
      </li>
      </ul>
     <section>
     <table>
            <tr>
                <th>Bus Number:</th>
                <td>{{ bus_number }}</td>
            </tr>
            <tr>
                <th>Bus Name:</th>
                <td>{{ bus_name }}</td>
            </tr>
        </table>
    </section>
    <section>
        <h3>Services</h3>
        <ul>
            {% for service in service_list %}
                <li>
                    <a href="{{ service.get_absolute_url }}">{{ service }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no services scheduled for this bus.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
