{% extends 'bookinginfo/base.html' %}

{% block title %}
    Enrollment - {{ enrollment }}
{% endblock %}

{% block content %}
    <h2>{{ enrollment.user }}</h2>
    <ul class="ezu-button-list">
    <li>
          <a href = "{{ enrollment.get_update_url }}"
	   class="button button-primary">
	   Update Enrollment</a>
      </li>
     <li>
          <a href = "{{ enrollment.get_delete_url }}" class="button button-primary" >Delete Enrollment</a>
      </li>
     </ul>
    <section>
        <table>
            <tr>
                <th>User:</th>
                <td>{{ user }}</td>
            </tr>
            <tr>
                <th>Service:</th>
                <td>{{ service }}</td>
            </tr>
        </table>
    </section>
{% endblock %}
