{% extends 'bookinginfo/base.html' %}

{% block title %}
    Semester - {{ semester }}
{% endblock %}

{% block content %}
    <h2>{{ semester }}</h2>
    <ul class="ezu-button-list">
     <li>
          <a href = "{{ semester.get_update_url }}" class="button button-primary">Update Semester</a>
      </li>
     <li>
          <a href = "{{ semester.get_delete_url }}" class="button button-primary">Delete Semester</a>
      </li>
    </ul>
    <section>
    <table>
            <tr>
                <th>Semester Name:</th>
                <td>{{ semester }}</td>
            </tr>
    </table>
        <h3>Services</h3>
        <ul>
            {% for service in service_list %}
                <li>
                    <a href="{{ service.get_absolute_url }}">{{ service }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no bus services for this semester.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
