{% extends 'bookinginfo/base.html' %}

{% block title %}
    Service - {{ service }}
{% endblock %}

{% block content %}
    <h2>{{ service }}</h2>
    <li>
          <a href = "{{ service.get_update_url }}">Update Service Detail</a>
      </li>
     <li>
          <a href = "{{ service.get_delete_url }}">Delete Service</a>
      </li>

    <section>
        <table>
            <tr>
                <th>Bus:</th>
                <td><a href="{{ bus.get_absolute_url }}">{{ bus }}</a></td>
            </tr>
            <tr>
                <th>Trip Direction:</th>
                <td>{{ service.trip_direction }}</td>
            </tr>
            <tr>
                <th>Start Location:</th>
                <td><a href="{{ location.get_absolute_url }}">{{ end_location }}</a></td>
            </tr>
            <tr>
                <th>End Location:</th>
                <td><a href="{{ location.get_absolute_url }}">{{ start_location }}</a></td>
            </tr>
            <tr>
                <th>Semester:</th>
                <td><a href="{{ semester.get_absolute_url }}">{{ semester }}</a></td>
            </tr>
        </table>

    </section>

    <section>
        <h3>Enrollments:</h3>
        <ul>
            {% for enrollment in enrollment_list %}
                <li>
                    <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.user }}</a>
                </li>
            {% empty %}
                <li><em>There are currently no students registered for this section.</em></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
