{#{% extends 'courseinfo/base.html' %}#}
{##}
{#{% block title %}#}
{#    Section List#}
{#{%  endblock %}#}
{##}
{#{% block content %}#}
{#<h2>Section List</h2>#}
{#<ul>#}
{#    {% for section in section_list %}#}
{#    <li>#}
{#      <a href="">{{ section}}</a>#}
{#    </li>#}
{#    {% empty %}#}
{#      <li><em> There are currently no section available.</em></li>#}
{#    {% endfor %}#}
{#</ul>#}
{#{% endblock %}#}



{% extends 'bookinginfo/base.html' %}

{% block title %}
    Service List
{%  endblock %}

{% block content %}
<h2>Service List</h2>
    <div>
    <a href="{% url 'bookinginfo_service_create_urlpattern' %}">Add a new Service</a>
    </div>
<ul>
    {% for service in service_list %}
    <li>
      <a href="{{ service.get_absolute_url }}">{{ service}}</a>
    </li>
    {% empty %}
      <li><em> There are currently no services available.</em></li>
    {% endfor %}
</ul>
{% endblock %}