{% extends 'bookinginfo/base.html' %}

{% block title %}
    user List
{%  endblock %}

{% block content %}
<h2>User List</h2>
    <div>
    <a href="{% url 'bookinginfo_user_create_urlpattern' %}" class="button button-primary">Add User</a>
    </div>
<ul>
    {% for user in user_list %}
    <li>
      <a href="{{ user.get_absolute_url }}">{{ user }}</a>
    </li>
    {% empty %}
      <li><em> There are currently no user available.</em></li>
    {% endfor %}
</ul>
{% if is_paginated %}
    <ul>
      {% if previous_page_url %}
        <li>
          <a href="{{ previous_page_url }}">
            Previous</a>
        </li>
      {% endif %}
      <li>
        Page {{ user_list.number }}
        of {{ paginator.num_pages }}
      </li>
      {% if next_page_url %}
        <li>
          <a href="{{ next_page_url }}">
            Next</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}

{% endblock %}

